/*-------------------------------------------- fonts------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

/*----------------------------------- variables declaration ----------------------------------------- */
:root{
    --gray: #727272;
    --black: #131313;
    --orange: #FF900E;
    --white: #FFFFFF;
}

/*----------------------------------------- primary styles------------------------------------------*/
body{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    height: 100%;
    width: 100%;
}
.btn{
    padding: 15px 30px;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    font-size: 1em;
    border-radius: 10px;
}
.section_view{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}
/*-------------------------------------------------- start from here------------------------------------ */


/*---------------------------------------------------------------------
 header style start
 -------------------------------------------------------------------- */
.header_full{
    background-color: rgba(255, 144, 14, 0.1);;
}
.nav_control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 2vw 4vw;
}
.web_title h1{
    font-size: 3vw;
    color: var(--black);
}
.nav_menu{
    display: flex;
    list-style: none;
    gap: 3vw;
}
/*------------------------------------------------------------------------
 banner style start
 -------------------------------------------------------------------*/

/*--------------------------------- banner brief section styles start -----------------------------------------== */
.banner_brief{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 3vw;
}
.banner_brief h1{
    font-size: 5vw;
    color: var(--black);
}
.banner_brief p{
    color: var(--gray);
    margin: 3vw 0;
}
/*------------------------------------- banner photo styles start ------------------------------------------------ */
.banner_view{
    padding: 3vw 0;
}
/* -----------------------header end--------------hurray!----------------------  */

/*-------------------------------------------------------- 
feature section start 
---------------------------------------------------------*/
.feature_container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 70%;
    gap: 5vw;
    padding: 4vw;
}
.feature_images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1vw;
    border-radius: 10px;
}
.feature_description h1{
    color: var(--black);
    font-size: 4vw;
}
.feature_description p{
    color: var(--gray);
    margin: 2vw 0;
}
.design1{
    color: var(--gray);
    font-weight: normal;
}
.design2{
    color: var(--orange);
}
/*----------------------------------------- feature section styles end ----------------------------------------*/

/*---------------------------------------------------
 love and enjoy section styles start
 ------------------------------------------------------  */
 .feature_enjoy{
    display: flex;
    gap: 5vw;
 }
 .feature_enjoy_description{
    width: 50%;
    position: relative;
 }
 .feature_enjoy_photo{
    width: 50%;
    position:relative;
 }
 .enjoy_title{
    font-size: 4vw;
    color: var(--black);
    border-left: 5px solid var(--orange);
    padding: 1vw;
 }
 .enjoy_pera{
    color: var(--gray);
 }
 .service{
    margin-bottom: 2vw;
    padding: 2vw;
    box-shadow: 3px 3px 3px 3px rgb(228, 227, 227);
 }
 .service h2{
    font-size: 2vw;
    color: var(--black);
 }
 .service p{
    color: var(--gray);
 }
 /*---------------------------------------------------
 love and enjoy section styles end
 ------------------------------------------------------  */

 /*---------------------------------------------------- button hard style start --------------------------------- */
 .hard_button{
     display: flex;
    margin: 0 auto;
    height: 15vh;
    width: 15vw;
    background-color: var(--orange);
    color: var(--white);
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2vw;
    border: none;
    position: absolute;
    margin-top: -6vw;
    translate: 320%;
    
 }
 .btn_bold{
    font-size: 2em;
    font-weight:bold;
 }
  /*-------------------------------------------- button hard style end  ---------------------------------------*/
  
  /*-------------------------------------------- fact section styles start ----------------------------------------- */
  .fact_container{
    padding: 8vw;
  }
  .fact_title h1{
    font-size: 4vw;
  }
  .fact_title p{
    color: var(--gray);
  }
  .fact_elements{
    display: flex;
    gap: 4vw;
    margin-top: 5vw;
  }
  .fact_element{
    padding: 3vw;
    border: 1px solid var(--orange);
    text-align: center;
    width: 20%;
    transition: transform 2s;
  }
  .fact_element img{
    height: 3vw;
    width: 3vw;
  }
  .fact_element h2{
    color: var(--gray);
  }
  .fact_element p{
    color: var(--gray);
  }
  .fact_elements :hover{
    background-color: rgb(162, 197, 236);
    transform: rotate(360deg);
    border: 5px solid palevioletred;
  }
  /*-------------------------fact section styles start ---------------not bad at all----------------------*/

  /* -------------------------------- my section style start  ------------------------------------- */
  .my_section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border-radius: 20px;

  }
  .my_section_photo :hover{
    transform: rotate(360deg);
  }
  .my_section :hover{
    transition: transform 2s;
  }
  .my_section_photo{
    display: flex;
    flex-direction: end;
    width: 60%;
  }
  .my_section_pera{
    width: 40%;
    padding: 2vw;
  }
  .my_section_pera p{
    color: var(--gray);
  }
  /* -------------------------------- my section style end  ------------------------------------- */

  /*------------------------------------- sponsor section style start ------------------------------------- */
  .sponsor_container{
    -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
  } 
  .sponsor_description{
    text-align: center;
    padding: 4vw;
  }
  .sponsor_description h1{
    font-size: 4vw;
  }
  .sponsor_description p{
    color: var(--gray);
  }
  .sponsor_img{
    display: flex;
    gap: 5vw;
    height: 3vw;
  }
    /*------------------------------------- sponsor section style end ------------------------------------- */

    /*--------------------------------------------- main style end  -----------------------------------------*/

    /* --------------------------------------------footer start ----------------------------------------- */
    .foot{
        margin-top: 5vw;
        padding: 1vw;
        background-color: #FFF4E7;
        text-align: center;
        color: var(--gray);
    }
    /*------------------------------------------------ footer end  ------------------------------------------------*/

    /*---------------------------------------------- responsive area start  ---------------------------------------------*/
    @media only screen and (max-width: 576px ) {
           .nav_control{
              flex-direction: column;
              margin: 0 auto;
            }
            .web_title h1{
              font-size: 7vw;
            }
            .nav_menu{
              flex-direction: column;
            }
            /*-------------------------------------- nav done ------------------------------------- */
            .banner_brief h1{
              font-size: 7vw;
            }
            .banner_brief p{
              padding: 1vw;
            }
            /* ------------------------------------banner done --------------------------------------- */
            .feature_container{
              flex-direction: column-reverse;
            }
            .feature_description{
              text-align: center;
            }
            .feature_description h1{
              font-size: 7vw;
            }
            .feature_images{
              display: grid;
              grid-template-columns: repeat(1,1fr);
              grid-gap:2vw;
            }
            .feature_enjoy{
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            .feature_enjoy_description h1{
              font-size: 7vw;
            }
            /*---------------------------------------------- feature done  ---------------------------------------*/
            .service h2{
              font-size: 5vw;
            }
            .feature_enjoy_photo{
              width: 80%;
            }
            /*------------------------------------------------ service done -------------------------------------------*/
            .hard_button{
              padding: 25px 40px;
              margin-top: 1vw;
              translate: 320%;
            }
            /*------------------------------------------------ hard button done ------------------------------------------- */
            .hide{
              display: none;
            }
            .fact_title{
              text-align: center;
            }
            .fact_title h1{
              font-size: 7vw;
            }
            .fact_title p{
              padding: 2vw; 
            }
            .fact_elements{
              flex-direction: column;
              align-items: center;
            }
            .fact_element{
              width: 100%;
            }
            .fact_element img{
              height: 7vw;
              width: 7vw;
            }
            /*-------------------------------------------- fact done ---------------------------------------------- */
            .my_section{
              flex-direction: column;
            }
            .my_section_photo{
              padding-left: 20vw;
              
            }
            .my_section_btn{
              margin: 2vw 0;
            }
            /*------------------------------------------- may section done  ----------------------------------------------*/
            .sponsor_description h1{
              font-size: 7vw;
            }
            .sponsor_img{
              display: grid;
              grid-template-columns: repeat(1,1fr);
              height:fit-content;
              width: 50%;
              padding-left: 25%;
            } 
    }

    /* -------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------
    --------------------------------------- Successfully done -------------------------------------------
    ------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------- */

  